.highlightMask {
  background-color: #000;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.highlightMessage {
  position: fixed;
  top: 40%;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.highlightMessage h1,
.highlightMessage h2,
.highlightMessage h3,
.highlightMessage h4,
.highlightMessage h5,
.highlightMessage h6,
.highlightMessage p {
  color: white;
}

.messageContent {
  max-width: 750px;
  margin: auto;
}

.dismissButton {
  border: 1px solid #ffffff;
  color: black;
  background-color: #e8e8e8;
  background: linear-gradient(#fff, #c5c1c1);
  border-bottom: 2px solid #949494;
  border-radius: 4px;
  box-shadow: 0 0 3px black;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.dismissButton:hover {
  background-color: #f7f7f7;
  background: linear-gradient(#dedede, #c5c1c1);
}
